[submodule "vendor/cert-manager"]
	path = vendor/cert-manager
	url = https://github.com/jetstack/cert-manager
[submodule "vendor/trow"]
	path = vendor/trow
	url = https://github.com/ContainerSolutions/trow/
